
@font-face {
  font-display: swap; 
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/league-spartan-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/league-spartan-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; 
    font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/league-spartan-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url("images/bg-pattern-top-desktop.svg"),
                      url("images/bg-pattern-bottom-desktop.svg");
                      
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 100px,
                         bottom 0 right 0;

    display: flex;
    flex-direction: column;
    font-family: 'League Spartan';
    margin: 100px;
}

.container1 {
    display: flex;
    align-items: center;
}

.mini {
    padding: 50px;
    max-width: 500px;
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    padding-bottom: 20px;
}

article {
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    font-weight: 400;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 50px;
}

.rating1, .rating2, .rating3 {
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 12px 20px;
  border-radius: 10px;
}

.rating2 {
  transform: translateX(30px);
}

.rating3 {
  transform: translateX(60px);
}

.star {
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.rating-text {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin-left: 1em;
}
.container2 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
    margin-left: 50px;
    margin-right: 100px;
}

.comment1, .comment2 , .comment3 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 25px;
}

.comment2 {
    margin-top: 30px;
}

.comment3 {
    margin-top: 60px;
}

.image {
    display: flex;
    padding: 10px;
}

img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
}

.name, .verified-buyer {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.verified-buyer {
    margin-top: 0.3em;
    color: hsl(333, 80%, 67%);
}

blockquote {
    color: hsl(300, 24%, 96%);
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
}
